body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  border: 4px solid black;
}

.color-button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: center;
    margin-top: 20px;
    width: 300px;
}

.color-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.color-button[data-color="#FFFFFF"] { background-color: #FFFFFF; }
.color-button[data-color="#00FF00"] { background-color: #00FF00; }
.color-button[data-color="#FFFF00"] { background-color: #FFFF00; }
.color-button[data-color="#FF0000"] { background-color: #FF0000; }
.color-button[data-color="#FFA500"] { background-color: #FFA500; }
.color-button[data-color="#800080"] { background-color: #800080; }
.color-button[data-color="#0000FF"] { background-color: #0000FF; }
.color-button[data-color="#008080"] { background-color: #008080; }
.color-button[data-color="#FFC0CB"] { background-color: #FFC0CB; }
.color-button[data-color="#000000"] { background-color: #000000; }